*.custom
.vscode/
bin/
bash.exe.stackdump

P2Partisan/*
!P2Partisan/p2partisan.sh

root/.ash_history
root/.bash_history
root/.config/
root/.uuid
root/BACKUPs/
root/ConfigOverload/*

ARM-Extras/

client1.log
client2.log
client3.log
server1.log
server2.log
