###########################################################################
# Generic lists, additional available e.g. at the following providers:
# https://www.iblocklist.com/lists.php
# http://iplists.firehol.org/
# https://www.spamhaus.org/drop/
###########################################################################
# The 2 formats supported are:
# Type A:
# .gz cointaining ASCII i nthe format "description:SIP-DIP"
# Type B:
# ASCII cointainting X.X.X.X or X.X.X.X/YY, any optional trailer define by a
# semicolon e.g. ";description" is ignored
#
# NOTE: enable with caution, with too many lists you might run of RAM on your router!
#

##################################################################################
# NOTE: enable with caution, with too many lists you might run of RAM on your router!
# Every enabled list must honour the format: "name URL"
##################################################################################
Pedophiles http://list.iblocklist.com/?list=dufcxgnbjsdwmwctgfuj&fileformat=p2p&archiveformat=gz
level1 http://list.iblocklist.com/?list=ydxerpxkpcfqjaybcssw&fileformat=p2p&archiveformat=gz
level2 http://list.iblocklist.com/?list=gyisgnzbhppbvsphucsw&fileformat=p2p&archiveformat=gz
# level3 http://list.iblocklist.com/?list=uwnukjqktoggdknzrhgh&fileformat=p2p&archiveformat=gz
# edu http://list.iblocklist.com/?list=imlmncgrkbnacgcwfjvh&fileformat=p2p&archiveformat=gz
rangetest http://list.iblocklist.com/?list=plkehquoahljmyxjixpu&fileformat=p2p&archiveformat=gz
# bogon http://list.iblocklist.com/?list=gihxqmhyunbxhbmgqrla&fileformat=p2p&archiveformat=gz
# ads http://list.iblocklist.com/?list=dgxtneitpuvgqqcpfulq&fileformat=p2p&archiveformat=gz
# spyware http://list.iblocklist.com/?list=llvtlsjyoyiczbkjsxpf&fileformat=p2p&archiveformat=gz
# proxy http://list.iblocklist.com/?list=xoebmbyexwuiogmbyprb&fileformat=p2p&archiveformat=gz
badpeers http://list.iblocklist.com/?list=cwworuawihqvocglcoss&fileformat=p2p&archiveformat=gz
Microsoft http://list.iblocklist.com/?list=xshktygkujudfnjfioro&fileformat=p2p&archiveformat=gz
# spider http://list.iblocklist.com/?list=mcvxsnihddgutbjfbghy&fileformat=p2p&archiveformat=gz
# hijacked http://list.iblocklist.com/?list=usrcshglbiilevmyfhse&fileformat=p2p&archiveformat=gz
# dshield http://list.iblocklist.com/?list=xpbqleszmajjesnzddhv&fileformat=p2p&archiveformat=gz
# forumspam http://list.iblocklist.com/?list=ficutxiwawokxlcyoeye&fileformat=p2p&archiveformat=gz
# webexploit http://list.iblocklist.com/?list=ghlzqtqxnzctvvajwwag&fileformat=p2p&archiveformat=gz
# iana-reserved http://list.iblocklist.com/?list=bcoepfyewziejvcqyhqo&fileformat=p2p&archiveformat=gz
# iana-private http://list.iblocklist.com/?list=cslpybexmxyuacbyuvib&fileformat=p2p&archiveformat=gz
# iana-multicast http://list.iblocklist.com/?list=pwqnlynprfgtjbgqoizj&fileformat=p2p&archiveformat=gz
# fornonlancomputers http://list.iblocklist.com/?list=jhaoawihmfxgnvmaqffp&fileformat=p2p&archiveformat=gz
# exclusions http://list.iblocklist.com/?list=mtxmiireqmjzazcsoiem&fileformat=p2p&archiveformat=gz
# HOSTS http://list.iblocklist.com/?list=qlprgwgdkojunfdlzsiv&fileformat=p2p&archiveformat=gz
# DROP http://list.iblocklist.com/?list=zbdlwrqkabxbcppvrnos&fileformat=p2p&archiveformat=gz
ZeuS http://list.iblocklist.com/?list=ynkdjqsjyfmilsgbogqf&fileformat=p2p&archiveformat=gz
# Palevo http://list.iblocklist.com/?list=erqajhwrxiuvjxqrrwfj&fileformat=p2p&archiveformat=gz
# CINS_Army http://list.iblocklist.com/?list=npkuuhuxcsllnhoamkvm&fileformat=p2p&archiveformat=gz
malc0de http://list.iblocklist.com/?list=pbqcylkejciyhmwttify&fileformat=p2p&archiveformat=gz
# adservers http://list.iblocklist.com/?list=zhogegszwduurnvsyhdf&fileformat=p2p&archiveformat=gz
# bogon http://list.iblocklist.com/?list=lujdnbasfaaixitgmxpp&fileformat=p2p&archiveformat=gz
# cruzit_web_attacks http://list.iblocklist.com/?list=czvaehmjpsnwwttrdoyl&fileformat=p2p&archiveformat=gz
# malware_domain_list http://list.iblocklist.com/?list=cgbdjfsybgpgyjpqhsnd&fileformat=p2p&archiveformat=gz
# The_Onion_Router http://list.iblocklist.com/?list=togdoptykrlolpddwbvz&fileformat=p2p&archiveformat=gz
# Apple http://list.iblocklist.com/?list=aphcqvpxuqgrkgufjruj&fileformat=p2p&archiveformat=gz
# LogMeIn http://list.iblocklist.com/?list=tgbankumtwtrzllndbmb&fileformat=p2p&archiveformat=gz
# Steam http://list.iblocklist.com/?list=cnxkgiklecdaihzukrud&fileformat=p2p&archiveformat=gz
# Xfire http://list.iblocklist.com/?list=ppqqnyihmcrryraaqsjo&fileformat=p2p&archiveformat=gz
# Blizzard http://list.iblocklist.com/?list=ercbntshuthyykfkmhxc&fileformat=p2p&archiveformat=gz
# Ubisoft http://list.iblocklist.com/?list=etmcrglomupyxtaebzht&fileformat=p2p&archiveformat=gz
# Nintendo http://list.iblocklist.com/?list=pevkykuhgaegqyayzbnr&fileformat=p2p&archiveformat=gz
# Activision http://list.iblocklist.com/?list=gfnxlhxsijzrcuxwzebb&fileformat=p2p&archiveformat=gz
# Sony_Online_Entertainment http://list.iblocklist.com/?list=tukpvrvlubsputmkmiwg&fileformat=p2p&archiveformat=gz
# Crowd_Control_Productions http://list.iblocklist.com/?list=eveiyhgmusglurfmjyag&fileformat=p2p&archiveformat=gz
# Linden_Lab http://list.iblocklist.com/?list=qnjdimxnaupjmpqolxcv&fileformat=p2p&archiveformat=gz
# Electronic_Arts http://list.iblocklist.com/?list=ejqebpcdmffinaetsvxj&fileformat=p2p&archiveformat=gz
# Square_Enix http://list.iblocklist.com/?list=odyaqontcydnodrlyina&fileformat=p2p&archiveformat=gz
# NCsoft http://list.iblocklist.com/?list=mwjuwmebrnzyyxpbezxu&fileformat=p2p&archiveformat=gz
# Riot_Games http://list.iblocklist.com/?list=sdlvfabdjvrdttfjotcy&fileformat=p2p&archiveformat=gz
# PunkBuster http://list.iblocklist.com/?list=zvwwndvzulqcltsicwdg&fileformat=p2p&archiveformat=gz
# Pandora http://list.iblocklist.com/?list=aevzidimyvwybzkletsg&fileformat=p2p&archiveformat=gz
# AOL http://list.iblocklist.com/?list=toboaiysofkflwgrttmb&fileformat=p2p&archiveformat=gz
# Comcast http://list.iblocklist.com/?list=rsgyxvuklicibautguia&fileformat=p2p&archiveformat=gz
# Cablevision http://list.iblocklist.com/?list=dwwbsmzirrykdlvpqozb&fileformat=p2p&archiveformat=gz
# Verizon http://list.iblocklist.com/?list=cdmdbprvldivlqsaqjol&fileformat=p2p&archiveformat=gz
# AT&amp;T http://list.iblocklist.com/?list=grbtkzijgrowvobvessf&fileformat=p2p&archiveformat=gz
# Cox_Communications http://list.iblocklist.com/?list=nlgdvmvfxvoimdunmuju&fileformat=p2p&archiveformat=gz
# Time_Warner_Cable http://list.iblocklist.com/?list=aqtsnttnqmcucwrjmohd&fileformat=p2p&archiveformat=gz
# Charter http://list.iblocklist.com/?list=htnzojgossawhpkbulqw&fileformat=p2p&archiveformat=gz
# Embarq http://list.iblocklist.com/?list=twdblifaysaqtypevvdp&fileformat=p2p&archiveformat=gz
# Suddenlink http://list.iblocklist.com/?list=psaoblrwylfrdsspfuiq&fileformat=p2p&archiveformat=gz
# Sprint http://list.iblocklist.com/?list=hngtqrhhuadlceqxbrob&fileformat=p2p&archiveformat=gz

# Country lists available here
# http://www.iblocklist.com/lists.php?category=country
# Browse the URL above and pick up the list you want to block (if any)
# e.g. Aruba
# Andorra http://list.iblocklist.com/?list=ad&fileformat=p2p&archiveformat=gz
# United_Arab_Emirates http://list.iblocklist.com/?list=ae&fileformat=p2p&archiveformat=gz
# Afghanistan http://list.iblocklist.com/?list=af&fileformat=p2p&archiveformat=gz
# Antigua_and_Barbuda http://list.iblocklist.com/?list=ag&fileformat=p2p&archiveformat=gz
# Anguilla http://list.iblocklist.com/?list=ai&fileformat=p2p&archiveformat=gz
# Albania http://list.iblocklist.com/?list=al&fileformat=p2p&archiveformat=gz
# Armenia http://list.iblocklist.com/?list=am&fileformat=p2p&archiveformat=gz
# Netherlands_Antilles http://list.iblocklist.com/?list=an&fileformat=p2p&archiveformat=gz
# Angola http://list.iblocklist.com/?list=ao&fileformat=p2p&archiveformat=gz
# Non-spec_Asia_Pas_Location http://list.iblocklist.com/?list=ap&fileformat=p2p&archiveformat=gz
# Argentina http://list.iblocklist.com/?list=ar&fileformat=p2p&archiveformat=gz
# American_Samoa http://list.iblocklist.com/?list=as&fileformat=p2p&archiveformat=gz
# Austria http://list.iblocklist.com/?list=at&fileformat=p2p&archiveformat=gz
# Australia http://list.iblocklist.com/?list=au&fileformat=p2p&archiveformat=gz
# Aruba http://list.iblocklist.com/?list=aw&fileformat=p2p&archiveformat=gz
# Aland_Islands http://list.iblocklist.com/?list=ax&fileformat=p2p&archiveformat=gz
# Azerbaijan http://list.iblocklist.com/?list=az&fileformat=p2p&archiveformat=gz
# Bosnia_and_Herzegowina http://list.iblocklist.com/?list=ba&fileformat=p2p&archiveformat=gz
# Barbados http://list.iblocklist.com/?list=bb&fileformat=p2p&archiveformat=gz
# Bangladesh http://list.iblocklist.com/?list=bd&fileformat=p2p&archiveformat=gz
# Belgium http://list.iblocklist.com/?list=be&fileformat=p2p&archiveformat=gz
# Burkina_Faso http://list.iblocklist.com/?list=bf&fileformat=p2p&archiveformat=gz
# Bulgaria http://list.iblocklist.com/?list=bg&fileformat=p2p&archiveformat=gz
# Bahrain http://list.iblocklist.com/?list=bh&fileformat=p2p&archiveformat=gz
# Burundi http://list.iblocklist.com/?list=bi&fileformat=p2p&archiveformat=gz
# Benin http://list.iblocklist.com/?list=bj&fileformat=p2p&archiveformat=gz
# Bermuda http://list.iblocklist.com/?list=bm&fileformat=p2p&archiveformat=gz
# Brunei_Darussalam http://list.iblocklist.com/?list=bn&fileformat=p2p&archiveformat=gz
# Bolivia http://list.iblocklist.com/?list=bo&fileformat=p2p&archiveformat=gz
# Brazil http://list.iblocklist.com/?list=br&fileformat=p2p&archiveformat=gz
# Bahamas http://list.iblocklist.com/?list=bs&fileformat=p2p&archiveformat=gz
# Bhutan http://list.iblocklist.com/?list=bt&fileformat=p2p&archiveformat=gz
# Botswana http://list.iblocklist.com/?list=bw&fileformat=p2p&archiveformat=gz
# Belarus http://list.iblocklist.com/?list=by&fileformat=p2p&archiveformat=gz
# Belize http://list.iblocklist.com/?list=bz&fileformat=p2p&archiveformat=gz
# Canada http://list.iblocklist.com/?list=ca&fileformat=p2p&archiveformat=gz
# The_Democratic_Republic_of_The_Congo http://list.iblocklist.com/?list=cd&fileformat=p2p&archiveformat=gz
# Central_African_Republic http://list.iblocklist.com/?list=cf&fileformat=p2p&archiveformat=gz
# Congo http://list.iblocklist.com/?list=cg&fileformat=p2p&archiveformat=gz
# Switzerland http://list.iblocklist.com/?list=ch&fileformat=p2p&archiveformat=gz
# Cote_D_ivoire http://list.iblocklist.com/?list=ci&fileformat=p2p&archiveformat=gz
# Cook_Islands http://list.iblocklist.com/?list=ck&fileformat=p2p&archiveformat=gz
# Chile http://list.iblocklist.com/?list=cl&fileformat=p2p&archiveformat=gz
# Cameroon http://list.iblocklist.com/?list=cm&fileformat=p2p&archiveformat=gz
China http://list.iblocklist.com/?list=cn&fileformat=p2p&archiveformat=gz
# Colombia http://list.iblocklist.com/?list=co&fileformat=p2p&archiveformat=gz
# Costa_Rica http://list.iblocklist.com/?list=cr&fileformat=p2p&archiveformat=gz
# Serbia_and_Montenegro http://list.iblocklist.com/?list=cs&fileformat=p2p&archiveformat=gz
# Cuba http://list.iblocklist.com/?list=cu&fileformat=p2p&archiveformat=gz
# Cape_Verde http://list.iblocklist.com/?list=cv&fileformat=p2p&archiveformat=gz
# Cyprus http://list.iblocklist.com/?list=cy&fileformat=p2p&archiveformat=gz
# Czech_Republic http://list.iblocklist.com/?list=cz&fileformat=p2p&archiveformat=gz
# Germany http://list.iblocklist.com/?list=de&fileformat=p2p&archiveformat=gz
# Djibouti http://list.iblocklist.com/?list=dj&fileformat=p2p&archiveformat=gz
# Denmark http://list.iblocklist.com/?list=dk&fileformat=p2p&archiveformat=gz
# Dominican_Republic http://list.iblocklist.com/?list=do&fileformat=p2p&archiveformat=gz
# Algeria http://list.iblocklist.com/?list=dz&fileformat=p2p&archiveformat=gz
# Ecuador http://list.iblocklist.com/?list=ec&fileformat=p2p&archiveformat=gz
# Estonia http://list.iblocklist.com/?list=ee&fileformat=p2p&archiveformat=gz
# Egypt http://list.iblocklist.com/?list=eg&fileformat=p2p&archiveformat=gz
# Eritrea http://list.iblocklist.com/?list=er&fileformat=p2p&archiveformat=gz
# Spain http://list.iblocklist.com/?list=es&fileformat=p2p&archiveformat=gz
# Ethiopia http://list.iblocklist.com/?list=et&fileformat=p2p&archiveformat=gz
# European_Union http://list.iblocklist.com/?list=eu&fileformat=p2p&archiveformat=gz
# Finland http://list.iblocklist.com/?list=fi&fileformat=p2p&archiveformat=gz
# Fiji http://list.iblocklist.com/?list=fj&fileformat=p2p&archiveformat=gz
# Federated_States_of_Micronesia http://list.iblocklist.com/?list=fm&fileformat=p2p&archiveformat=gz
# Faroe_Islands http://list.iblocklist.com/?list=fo&fileformat=p2p&archiveformat=gz
# France http://list.iblocklist.com/?list=fr&fileformat=p2p&archiveformat=gz
# Gabon http://list.iblocklist.com/?list=ga&fileformat=p2p&archiveformat=gz
# United_Kingdom http://list.iblocklist.com/?list=gb&fileformat=p2p&archiveformat=gz
# Grenada http://list.iblocklist.com/?list=gd&fileformat=p2p&archiveformat=gz
# Georgia http://list.iblocklist.com/?list=ge&fileformat=p2p&archiveformat=gz
# French_Guiana http://list.iblocklist.com/?list=gf&fileformat=p2p&archiveformat=gz
# Guernsey http://list.iblocklist.com/?list=gg&fileformat=p2p&archiveformat=gz
# Ghana http://list.iblocklist.com/?list=gh&fileformat=p2p&archiveformat=gz
# Gibraltar http://list.iblocklist.com/?list=gi&fileformat=p2p&archiveformat=gz
# Greenland http://list.iblocklist.com/?list=gl&fileformat=p2p&archiveformat=gz
# Gambia http://list.iblocklist.com/?list=gm&fileformat=p2p&archiveformat=gz
# Guinea http://list.iblocklist.com/?list=gn&fileformat=p2p&archiveformat=gz
# Guadeloupe http://list.iblocklist.com/?list=gp&fileformat=p2p&archiveformat=gz
# Equatorial_Guinea http://list.iblocklist.com/?list=gq&fileformat=p2p&archiveformat=gz
# Greece http://list.iblocklist.com/?list=gr&fileformat=p2p&archiveformat=gz
# Guatemala http://list.iblocklist.com/?list=gt&fileformat=p2p&archiveformat=gz
# Guam http://list.iblocklist.com/?list=gu&fileformat=p2p&archiveformat=gz
# Guinea-bissau http://list.iblocklist.com/?list=gw&fileformat=p2p&archiveformat=gz
# Guyana http://list.iblocklist.com/?list=gy&fileformat=p2p&archiveformat=gz
# Hong_Kong http://list.iblocklist.com/?list=hk&fileformat=p2p&archiveformat=gz
# Honduras http://list.iblocklist.com/?list=hn&fileformat=p2p&archiveformat=gz
# Croatia http://list.iblocklist.com/?list=hr&fileformat=p2p&archiveformat=gz
# Haiti http://list.iblocklist.com/?list=ht&fileformat=p2p&archiveformat=gz
# Hungary http://list.iblocklist.com/?list=hu&fileformat=p2p&archiveformat=gz
# Indonesia http://list.iblocklist.com/?list=id&fileformat=p2p&archiveformat=gz
# Ireland http://list.iblocklist.com/?list=ie&fileformat=p2p&archiveformat=gz
# Israel http://list.iblocklist.com/?list=il&fileformat=p2p&archiveformat=gz
# Isle_of_Man http://list.iblocklist.com/?list=im&fileformat=p2p&archiveformat=gz
# India http://list.iblocklist.com/?list=in&fileformat=p2p&archiveformat=gz
# British_Indian_Ocean_Territory http://list.iblocklist.com/?list=io&fileformat=p2p&archiveformat=gz
# Iraq http://list.iblocklist.com/?list=iq&fileformat=p2p&archiveformat=gz
# Iran http://list.iblocklist.com/?list=ir&fileformat=p2p&archiveformat=gz
# Iceland http://list.iblocklist.com/?list=is&fileformat=p2p&archiveformat=gz
# Italy http://list.iblocklist.com/?list=it&fileformat=p2p&archiveformat=gz
# Jersey http://list.iblocklist.com/?list=je&fileformat=p2p&archiveformat=gz
# Jamaica http://list.iblocklist.com/?list=jm&fileformat=p2p&archiveformat=gz
# Jordan http://list.iblocklist.com/?list=jo&fileformat=p2p&archiveformat=gz
# Japan http://list.iblocklist.com/?list=jp&fileformat=p2p&archiveformat=gz
# Kenya http://list.iblocklist.com/?list=ke&fileformat=p2p&archiveformat=gz
# Kyrgyzstan http://list.iblocklist.com/?list=kg&fileformat=p2p&archiveformat=gz
# Cambodia http://list.iblocklist.com/?list=kh&fileformat=p2p&archiveformat=gz
# Kiribati http://list.iblocklist.com/?list=ki&fileformat=p2p&archiveformat=gz
# Saint_Kitts_and_Nevis http://list.iblocklist.com/?list=kn&fileformat=p2p&archiveformat=gz
# Democratic_People_s_Republic_of_Korea http://list.iblocklist.com/?list=kp&fileformat=p2p&archiveformat=gz
# Republic_of_Korea http://list.iblocklist.com/?list=kr&fileformat=p2p&archiveformat=gz
# Kuwait http://list.iblocklist.com/?list=kw&fileformat=p2p&archiveformat=gz
# Cayman_Islands http://list.iblocklist.com/?list=ky&fileformat=p2p&archiveformat=gz
# Kazakhstan http://list.iblocklist.com/?list=kz&fileformat=p2p&archiveformat=gz
# Lao_People_s_Democratic_Republic http://list.iblocklist.com/?list=la&fileformat=p2p&archiveformat=gz
# Lebanon http://list.iblocklist.com/?list=lb&fileformat=p2p&archiveformat=gz
# Saint_Lucia http://list.iblocklist.com/?list=lc&fileformat=p2p&archiveformat=gz
# Liechtenstein http://list.iblocklist.com/?list=li&fileformat=p2p&archiveformat=gz
# Sri_Lanka http://list.iblocklist.com/?list=lk&fileformat=p2p&archiveformat=gz
# Liberia http://list.iblocklist.com/?list=lr&fileformat=p2p&archiveformat=gz
# Lesotho http://list.iblocklist.com/?list=ls&fileformat=p2p&archiveformat=gz
# Lithuania http://list.iblocklist.com/?list=lt&fileformat=p2p&archiveformat=gz
# Luxembourg http://list.iblocklist.com/?list=lu&fileformat=p2p&archiveformat=gz
# Latvia http://list.iblocklist.com/?list=lv&fileformat=p2p&archiveformat=gz
# Libyan_Arab_Jamahiriya http://list.iblocklist.com/?list=ly&fileformat=p2p&archiveformat=gz
# Morocco http://list.iblocklist.com/?list=ma&fileformat=p2p&archiveformat=gz
# Monaco http://list.iblocklist.com/?list=mc&fileformat=p2p&archiveformat=gz
# Moldova_Republic_of http://list.iblocklist.com/?list=md&fileformat=p2p&archiveformat=gz
# Montenegro http://list.iblocklist.com/?list=me&fileformat=p2p&archiveformat=gz
# Saint_Martin http://list.iblocklist.com/?list=mf&fileformat=p2p&archiveformat=gz
# Madagascar http://list.iblocklist.com/?list=mg&fileformat=p2p&archiveformat=gz
# Marshall_Islands http://list.iblocklist.com/?list=mh&fileformat=p2p&archiveformat=gz
# Macedonia http://list.iblocklist.com/?list=mk&fileformat=p2p&archiveformat=gz
# Mali http://list.iblocklist.com/?list=ml&fileformat=p2p&archiveformat=gz
# Myanmar http://list.iblocklist.com/?list=mm&fileformat=p2p&archiveformat=gz
# Mongolia http://list.iblocklist.com/?list=mn&fileformat=p2p&archiveformat=gz
# Macau http://list.iblocklist.com/?list=mo&fileformat=p2p&archiveformat=gz
# Northern_Mariana_Islands http://list.iblocklist.com/?list=mp&fileformat=p2p&archiveformat=gz
# Mauritania http://list.iblocklist.com/?list=mr&fileformat=p2p&archiveformat=gz
# Montserrat http://list.iblocklist.com/?list=ms&fileformat=p2p&archiveformat=gz
# Malta http://list.iblocklist.com/?list=mt&fileformat=p2p&archiveformat=gz
# Mauritius http://list.iblocklist.com/?list=mu&fileformat=p2p&archiveformat=gz
# Maldives http://list.iblocklist.com/?list=mv&fileformat=p2p&archiveformat=gz
# Malawi http://list.iblocklist.com/?list=mw&fileformat=p2p&archiveformat=gz
# Mexico http://list.iblocklist.com/?list=mx&fileformat=p2p&archiveformat=gz
# Malaysia http://list.iblocklist.com/?list=my&fileformat=p2p&archiveformat=gz
# Mozambique http://list.iblocklist.com/?list=mz&fileformat=p2p&archiveformat=gz
# Namibia http://list.iblocklist.com/?list=na&fileformat=p2p&archiveformat=gz
# New_Caledonia http://list.iblocklist.com/?list=nc&fileformat=p2p&archiveformat=gz
# Niger http://list.iblocklist.com/?list=ne&fileformat=p2p&archiveformat=gz
# Norfolk_Island http://list.iblocklist.com/?list=nf&fileformat=p2p&archiveformat=gz
# Nigeria http://list.iblocklist.com/?list=ng&fileformat=p2p&archiveformat=gz
# Nicaragua http://list.iblocklist.com/?list=ni&fileformat=p2p&archiveformat=gz
# Netherlands http://list.iblocklist.com/?list=nl&fileformat=p2p&archiveformat=gz
# Norway http://list.iblocklist.com/?list=no&fileformat=p2p&archiveformat=gz
# Nepal http://list.iblocklist.com/?list=np&fileformat=p2p&archiveformat=gz
# Nauru http://list.iblocklist.com/?list=nr&fileformat=p2p&archiveformat=gz
# Niue http://list.iblocklist.com/?list=nu&fileformat=p2p&archiveformat=gz
# New_Zealand http://list.iblocklist.com/?list=nz&fileformat=p2p&archiveformat=gz
# Oman http://list.iblocklist.com/?list=om&fileformat=p2p&archiveformat=gz
# Panama http://list.iblocklist.com/?list=pa&fileformat=p2p&archiveformat=gz
# Peru http://list.iblocklist.com/?list=pe&fileformat=p2p&archiveformat=gz
# French_Polynesia http://list.iblocklist.com/?list=pf&fileformat=p2p&archiveformat=gz
# Papua_New_Guinea http://list.iblocklist.com/?list=pg&fileformat=p2p&archiveformat=gz
# Philippines http://list.iblocklist.com/?list=ph&fileformat=p2p&archiveformat=gz
# Pakistan http://list.iblocklist.com/?list=pk&fileformat=p2p&archiveformat=gz
# Poland http://list.iblocklist.com/?list=pl&fileformat=p2p&archiveformat=gz
# St_Pierre_and_Miquelon http://list.iblocklist.com/?list=pm&fileformat=p2p&archiveformat=gz
# Puerto_Rico http://list.iblocklist.com/?list=pr&fileformat=p2p&archiveformat=gz
# Palestinian_Territory_Occupied http://list.iblocklist.com/?list=ps&fileformat=p2p&archiveformat=gz
# Portugal http://list.iblocklist.com/?list=pt&fileformat=p2p&archiveformat=gz
# Palau http://list.iblocklist.com/?list=pw&fileformat=p2p&archiveformat=gz
# Paraguay http://list.iblocklist.com/?list=py&fileformat=p2p&archiveformat=gz
# Qatar http://list.iblocklist.com/?list=qa&fileformat=p2p&archiveformat=gz
# Reunion http://list.iblocklist.com/?list=re&fileformat=p2p&archiveformat=gz
# Romania http://list.iblocklist.com/?list=ro&fileformat=p2p&archiveformat=gz
# Serbia http://list.iblocklist.com/?list=rs&fileformat=p2p&archiveformat=gz
Russia http://list.iblocklist.com/?list=ru&fileformat=p2p&archiveformat=gz
# Rwanda http://list.iblocklist.com/?list=rw&fileformat=p2p&archiveformat=gz
# Saudi_Arabia http://list.iblocklist.com/?list=sa&fileformat=p2p&archiveformat=gz
# Solomon_Islands http://list.iblocklist.com/?list=sb&fileformat=p2p&archiveformat=gz
# Seychelles http://list.iblocklist.com/?list=sc&fileformat=p2p&archiveformat=gz
# Sudan http://list.iblocklist.com/?list=sd&fileformat=p2p&archiveformat=gz
# Sweden http://list.iblocklist.com/?list=se&fileformat=p2p&archiveformat=gz
# Singapore http://list.iblocklist.com/?list=sg&fileformat=p2p&archiveformat=gz
# Slovenia http://list.iblocklist.com/?list=si&fileformat=p2p&archiveformat=gz
# Slovakia_SLOVAK_Republic http://list.iblocklist.com/?list=sk&fileformat=p2p&archiveformat=gz
# Sierra_Leone http://list.iblocklist.com/?list=sl&fileformat=p2p&archiveformat=gz
# San_Marino http://list.iblocklist.com/?list=sm&fileformat=p2p&archiveformat=gz
# Senegal http://list.iblocklist.com/?list=sn&fileformat=p2p&archiveformat=gz
# Suriname http://list.iblocklist.com/?list=sr&fileformat=p2p&archiveformat=gz
# El_Salvador http://list.iblocklist.com/?list=sv&fileformat=p2p&archiveformat=gz
# Syrian_Arab_Republic http://list.iblocklist.com/?list=sy&fileformat=p2p&archiveformat=gz
# Swaziland http://list.iblocklist.com/?list=sz&fileformat=p2p&archiveformat=gz
# Turks_and_Caicos_Islands http://list.iblocklist.com/?list=tc&fileformat=p2p&archiveformat=gz
# Togo http://list.iblocklist.com/?list=tg&fileformat=p2p&archiveformat=gz
# Thailand http://list.iblocklist.com/?list=th&fileformat=p2p&archiveformat=gz
# Tajikistan http://list.iblocklist.com/?list=tj&fileformat=p2p&archiveformat=gz
# Timor-leste http://list.iblocklist.com/?list=tl&fileformat=p2p&archiveformat=gz
# Turkmenistan http://list.iblocklist.com/?list=tm&fileformat=p2p&archiveformat=gz
# Tunisia http://list.iblocklist.com/?list=tn&fileformat=p2p&archiveformat=gz
# Tonga http://list.iblocklist.com/?list=to&fileformat=p2p&archiveformat=gz
# Turkey http://list.iblocklist.com/?list=tr&fileformat=p2p&archiveformat=gz
# Trinidad_and_Tobago http://list.iblocklist.com/?list=tt&fileformat=p2p&archiveformat=gz
# Tuvalu http://list.iblocklist.com/?list=tv&fileformat=p2p&archiveformat=gz
# Taiwan http://list.iblocklist.com/?list=tw&fileformat=p2p&archiveformat=gz
# Tanzania_United_Republic_of http://list.iblocklist.com/?list=tz&fileformat=p2p&archiveformat=gz
# Ukraine http://list.iblocklist.com/?list=ua&fileformat=p2p&archiveformat=gz
# Uganda http://list.iblocklist.com/?list=ug&fileformat=p2p&archiveformat=gz
# United_States http://list.iblocklist.com/?list=us&fileformat=p2p&archiveformat=gz
# Uruguay http://list.iblocklist.com/?list=uy&fileformat=p2p&archiveformat=gz
# Uzbekistan http://list.iblocklist.com/?list=uz&fileformat=p2p&archiveformat=gz
# Holy_See_VATICAN_City_State http://list.iblocklist.com/?list=va&fileformat=p2p&archiveformat=gz
# Saint_Vincent_and_The_Grenadines http://list.iblocklist.com/?list=vc&fileformat=p2p&archiveformat=gz
# Venezuela http://list.iblocklist.com/?list=ve&fileformat=p2p&archiveformat=gz
# Virgin_Islands_BRITISH http://list.iblocklist.com/?list=vg&fileformat=p2p&archiveformat=gz
# Virgin_Islands_US http://list.iblocklist.com/?list=vi&fileformat=p2p&archiveformat=gz
# Vietnam http://list.iblocklist.com/?list=vn&fileformat=p2p&archiveformat=gz
# Vanuatu http://list.iblocklist.com/?list=vu&fileformat=p2p&archiveformat=gz
# Wallis_and_Futuna_Islands http://list.iblocklist.com/?list=wf&fileformat=p2p&archiveformat=gz
# Samoa http://list.iblocklist.com/?list=ws&fileformat=p2p&archiveformat=gz
# Yemen http://list.iblocklist.com/?list=ye&fileformat=p2p&archiveformat=gz
# South_Africa http://list.iblocklist.com/?list=za&fileformat=p2p&archiveformat=gz
# Zambia http://list.iblocklist.com/?list=zm&fileformat=p2p&archiveformat=gz
# Zimbabwe http://list.iblocklist.com/?list=zw&fileformat=p2p&archiveformat=gz
