# shellcheck shell=bash
######################################
# IP Greylist, mix and match any of the following formats
# Single: "X.X.X.X"
# Range: "FIRSTIP-LASTIP"
# FQDN: "bbc.com"
# CIDR: "X.X.X.X/YY"
# NOTE: BOTH PRIVATE & PUBLIC IP ADDRESSES WILL BE CONSIDERED HERE
######################################

#10.0.0.0-10.255.255.255
#172.16.0.0-172.31.255.255
#192.168.0.0-192.168.255.255
#100.64.0.0-100.127.255.255

#192.168.0.55
#192.168.0.55-192.168.0.58
#192.168.0.55/29
