######################################
# IP Whitelist, mix and match any of the following formats
# Single: "X.X.X.X"
# Range: "FIRSTIP-LASTIP"
# FQDN: "bbc.com"
# CIDR: "X.X.X.X/YY"
# Public whitelist: "name http://URL/file.gz"
# NOTE: BOTH PRIVATE & PUBLIC IP ADDRESSES WILL BE CONSIDERED HERE
######################################

# Common hostnames
update.code.visualstudio.com
code.visualstudio.com
vscode.blob.core.windows.net
marketplace.visualstudio.com
vscode.search.windows.net
go.microsoft.com
github.com
raw.githubusercontent.com
vsmarketplacebadge.apphb.com

# LAN
#192.168.0.0/24
192.168.1.0/24
#192.168.254.0/24

# OpenVPN
#10.0.0.0/24
#10.0.1.0/24
#10.0.2.0/24
