a-msedge.net
amazon.com
appsflyer.com
azurewebsites.net
cdnetworks.com
cloudapp.net
edgekey.net
elasticbeanstalk.com
github.com
github.io
gitlab.com
invalid
j.mp
l-msedge.net
lan
liveinternet.ru
localdomain
microsoft.com
msedge.net
nsatc.net
ovh.net
polyfill.io
pusher.com
pusherapp.com
revinate.com
spotify.com
tagcommander.com
windows.net
tracker.*

# ==============
# Spotify Update
# Random
# ==============
cache.spotify.com
77.65.199.104.bc.googleusercontent.com
151.101.36.246:443
adjust.com
# Spotify Update
# ==============
upgrade.spotify.com
www.spotify-desktop.com
sto3-accesspoint-a88.sto3.spotify.net
upgrade.scdn.co
beta.spotify.map.fastly.net
prod.spotify.map.fastlylb.net
# Player
# ==============
spclient.wg.spotify.com
heads-fa.spotify.com
apresolve.spotify.com
gew1-accesspoint-b-mb1b.ap.spotify.com
# ==============
