#!/opt/bin/bash
#
# Start/stop all init scripts in /opt/etc/init.d including symlinks
# starting them in numerical order and
# stopping them in reverse numerical order
#

#### VARs
PATH=/opt/sbin:/opt/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
unset LD_LIBRARY_PATH
unset LD_PRELOAD
ACTION="${1}"
[ -n "${2}" ] && CALLER="${2}" || CALLER="$(basename "$0")"

if [ $# -lt 1 ]; then
    printf "Usage: %s {start|stop|restart|reconfigure|check|kill}\n" "$0" >&2
    exit 1
fi

case "$ACTION" in
    'stop' | 'restart' | 'kill') ORDER="-r" ;;
esac

for i in $(find /opt/etc/init.d/ -perm '-u+x' -name 'S*' | sort $ORDER); do
    logger -p user.notice -t -s "| $(basename "$0") |" "Beginning $ACTION sequence for '$(basename "$i")'"

    LOOP=1 # Permit to avoid loop for some sourced scripts !!!
    export LOOP

    case "$i" in
        S* | *.sh)
            # Source shell script for speed.
            trap "" INT QUIT TSTP EXIT
            # shellcheck source=root/TEMPLATEs/init/S09dnscrypt-proxy2.tmpl
            ACTION=$ACTION CALLER=$CALLER . "$i"
            ;;
        *)
            # No sh extension, so fork subprocess.
            $i "$ACTION" "$CALLER"
            ;;
    esac

    logger -p user.notice -t -s "| $(basename "$0") |" "Ending $ACTION sequence for '$(basename "$i")'"
done
