#!/opt/bin/bash

ENABLED="$(nvram get log_file |sed 's/0/no/g;s/1/yes/g;')"
PROCS=syslogd
ARGS="-L -s $(nvram get log_file_size) -O $(nvram get log_file_path) -b $(nvram get log_file_keep)"
PREARGS=""
DESC="SysLog"
PATH=/opt/sbin:/opt/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
export ENABLED PROCS ARGS PREARGS DESC
# shellcheck source=root/TEMPLATEs/init/rc.func.tmpl
. /opt/etc/init.d/rc.func
