#!/opt/bin/bash

ENABLED="$(nvram get vpn_client_eas | grep -q '3' && echo yes || echo no)"
PROCS=vpnclient3
ARGS=""
PREARGS=""
DESC="OpenVPN Client 3"
PATH=/opt/sbin:/opt/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
export ENABLED PROCS ARGS PREARGS DESC
# shellcheck source=root/TEMPLATEs/init/rc.func.tmpl
. /opt/etc/init.d/rc.func
