#!/opt/bin/bash

ENABLED="$(nvram get rstats_enable | sed 's/0/no/g;s/1/yes/g;')"
PROCS=rstats
ARGS=""
PREARGS=""
DESC="Bandwidth Monitoring"
PATH=/opt/sbin:/opt/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
export ENABLED PROCS ARGS PREARGS DESC
# shellcheck source=root/TEMPLATEs/init/rc.func.tmpl
. /opt/etc/init.d/rc.func
